<section class="container">
    <mat-toolbar>
        <span>Nueva Factura</span>
        <div class="example-spacer"></div>
        <button mat-stroked-button >Nuevo Producto</button>
        <button mat-stroked-button >Nuevo Cliente</button>
    </mat-toolbar>

    <label>Cedula:</label>
    <mat-form-field style="margin-top: 15px;" class="example-full-width">
        <mat-label for="txtCedula" style="font-size: 0.7rem;">Ingresar cédula</mat-label>
        <input id="txtCedula" name="txtCedula" matInput [(ngModel)]="cliente.cedula">
    </mat-form-field>
    <button (click)="buscarCliente(cliente)" mat-stroked-button>Buscar</button>

    <mat-card style="margin-top: 10px;">
        <form>
          <mat-grid-list cols="9" rowHeight="80px" >
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <label>Nombre:</label>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1" [style.margin-left]="1">
                <mat-form-field style="margin-top: 15px;" class="example-full-width">
                  <mat-label for="txtNombre" style="font-size: 0.7rem;">Nombre</mat-label>
                  <input disabled id="txtNombre" name="txtNombre" matInput [(ngModel)]="cliente.nombre">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <label>Dirección:</label>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field style="margin-top: 15px;" class="example-full-width">
                  <mat-label for="txtDireccion" style="font-size: 0.7rem;">Dirección</mat-label>
                  <input disabled id="txtDireccion" name="txtDireccion" matInput [(ngModel)]="cliente.direccion">
              </mat-form-field><br>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <label >Año Nacimiento:</label>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field style="margin-top: 15px;" class="example-full-width">
                  <mat-label for="txtAnioNacimiento" style="font-size: 0.7rem;">Año de nacimiento</mat-label>
                  <input disabled id="txtAnioNacimiento" name="txtAnioNacimiento" matInput [(ngModel)]="cliente.anioNacimiento">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <label >Número Factura:</label>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field style="margin-top: 15px;" class="example-full-width">
                  <mat-label for="txtNumFactura" style="font-size: 0.7rem;">Número Factura</mat-label>
                  <input disabled id="txtNumFactura" name="txtNumFactura" matInput [(ngModel)]="factura.numero">
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
        </form>
      </mat-card>

    <label>Producto:</label>
    <mat-form-field style="margin-top: 15px;" class="example-full-width">
        <mat-label for="txtCodigo" style="font-size: 0.7rem;">Ingresar codigo</mat-label>
        <input id="txtCodigo" name="txtCodigo" matInput [(ngModel)]="producto.codigo">
    </mat-form-field>
    <button (click)="buscarProducto(producto)" mat-stroked-button>Buscar</button>

    <mat-card style="margin-top: 10px;">
      <form>
        <mat-grid-list cols="9" rowHeight="80px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <label>Nombre:</label>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1" [style.margin-left]="1">
            <mat-form-field style="margin-top: 15px;" class="example-full-width">
              <mat-label for="txtNombre" style="font-size: 0.7rem;">Nombre Producto</mat-label>
              <input disabled  id="txtNombre" name="txtNombre" matInput [(ngModel)]="producto.nombre">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <label>Precio:</label>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1" [style.margin-left]="1">
            <mat-form-field style="margin-top: 15px;" class="example-full-width">
              <mat-label for="txtPrecio" style="font-size: 0.7rem;">Precio Unitario</mat-label>
              <input disabled id="txtPrecio" name="txtPrecio" matInput [(ngModel)]="producto.precio">
              </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <label>Stock:</label>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1" [style.margin-left]="1">
            <mat-form-field style="margin-top: 15px;" class="example-full-width">
              <mat-label for="txtStock" style="font-size: 0.7rem;">Stock</mat-label>
              <input disabled id="txtStock" name="txtStock" matInput [(ngModel)]="producto.stock">
              </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <label>Cantidad:</label>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field style="margin-top: 15px;" class="example-full-width">
          <mat-label for="txtCantidad" style="font-size: 0.7rem;">Ingrese la cantidad que desee</mat-label>
          <input id="txtCantidad" name="txtCantidad" matInput [(ngModel)]="detalle.cantidad">
          </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button (click)="agregarDetalle()" mat-stroked-button>Agregar Producto</button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card>

    <div class="tablaDetalles" id="tablaDetalles">
      <table mat-table [dataSource]="lstDetalles" class="mat-elevation-z1">
        <ng-container matColumnDef="Accion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Acción </th>
          <td mat-cell *matCellDef="let detalle">
            <button (click)="remover()"  mat-stroked-button>Remover</button>
          </td>
        </ng-container>
        <ng-container matColumnDef="Codigo">
          <th mat-header-cell *matHeaderCellDef>Codigo</th>
          <td mat-cell *matCellDef="let detalle"> {{detalle.producto.codigo}} </td>
      </ng-container>
          <ng-container matColumnDef="Numero">
              <th mat-header-cell *matHeaderCellDef>Nombre </th>
              <td mat-cell *matCellDef="let detalle"> {{detalle.producto.nombre}} </td>
          </ng-container>
          <ng-container matColumnDef="Precio">
              <th mat-header-cell *matHeaderCellDef>Precio </th>
              <td mat-cell *matCellDef="let detalle"> {{detalle.producto.precio}} </td>
          </ng-container>
          <ng-container matColumnDef="Cantidad">
              <th mat-header-cell *matHeaderCellDef>Cantidad </th>
              <td mat-cell *matCellDef="let detalle">{{detalle.cantidad}} </td>
          </ng-container>
          <ng-container matColumnDef="Total">
            <th mat-header-cell *matHeaderCellDef>Total</th>
            <td mat-cell *matCellDef="let detalle">{{detalle.subtotal}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
  </div>

  <form>
    <mat-grid-list cols="4" rowHeight="80px" >
      <mat-grid-tile [colspan]="2" [rowspan]="4"></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <label>Subtotal:</label>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1" [style.margin-left]="1">
          <mat-form-field style="margin-top: 15px;" class="example-full-width">
            <mat-label for="txtSubTotal" style="font-size: 0.7rem;">Subtotal</mat-label>
            <input disabled id="txtSubTotal" name="txtSubTotal" matInput [(ngModel)]="subtotal">
          </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <label>Iva:</label>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field style="margin-top: 15px;" class="example-full-width">
            <mat-label for="txtIva" style="font-size: 0.7rem;">Iva 12%</mat-label>
            <input disabled id="txtIva" name="txtIva" matInput [(ngModel)]="iva">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <label>Total:</label>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field style="margin-top: 15px;" class="example-full-width">
            <mat-label for="txtTotal" style="font-size: 0.7rem;">Total</mat-label>
            <input disabled id="txtTotal" name="txtTotal" matInput [(ngModel)]="total">
        </mat-form-field><br>
      </mat-grid-tile>
    </mat-grid-list>
  </form>

  <mat-toolbar style="margin-top: 10px;">
    <div class="example-spacer"></div>
    <button (click)="guardar()" mat-stroked-button>Guardar</button>
  </mat-toolbar>
</section>