<section class="container">
    <mat-toolbar>
        <span>Listar Facturas</span>      
    </mat-toolbar>

    <mat-card style="margin-top: 10px;">
        <form>
            <mat-grid-list cols="4" rowHeight="80px" >
              <mat-grid-tile [colspan]="3" [rowspan]="1">
                <label>Buscar Factura:</label>
                <mat-form-field class="example-full-width">
                    <mat-label style="font-size: 0.7rem;">Ingrese el número de factura</mat-label>
                    <input matInput #message  placeholder="Ex. 0100254581">
                </mat-form-field>
                <button mat-stroked-button>Buscar</button>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-stroked-button (click)="navCrearFactura()">Nueva Factura</button>
              </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>

    <div class="tablaFacturas">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
            <ng-container matColumnDef="numero">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Num Factura </th>
                <td mat-cell *matCellDef="let factura"> {{factura.numero}} </td>
            </ng-container>
            <ng-container matColumnDef="cliente">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente </th>
                <td mat-cell *matCellDef="let factura"> {{factura.cliente.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Total </th>
                <td mat-cell *matCellDef="let factura"> {{factura.total}} </td>
            </ng-container>
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Acción </th>
                <td mat-cell *matCellDef="let factura">
                    <!--<button mat-raised-button color="primary" (click)="editFactura(factura)">Visualizar</button>
                    <button mat-raised-button color="primary" (click)="estadoFactura(factura)">Estado</button>-->
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</section>